.form {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.label {
  margin: 10px 0 0 0;
}

.input {
  width: 100%;
}

.description {
  width: 100%;
}

.button {
  margin: 20px auto;
  width: 150px;
  padding: 5px;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4px;
}

.errorMessage {
  margin: 5px auto;
  width: 100%;
  font-size: 0.8rem;
  color: red;
}
